<h1 class="title">このアプリについて</h1>

<h2 class="group-title">バグのご報告はこちらから</h2>
<div class="group-body">
  <p class="group-p">バグ、またはバグらしき現象を発見した際には下のフォームから報告いただけると大変助かります。</p>
  <p class="group-p"><%= link_to 'バグ報告フォーム', 'https://docs.google.com/forms/d/e/1FAIpQLSfyOsO72aJWya2aGXE3yGPEuxQ518VIYbGs051bacoaAaxVKQ/viewform', class: 'group-botton-center' %></p>
</div>

<h2 class="group-title">使用上の注意</h2>
<div class="group-body">
  <p class="group-p">このアプリはいち大学生が趣味で制作したものであり、個人情報、プライバシー、サーバに保存されたデータの保証はいたしかねます。また、事前の予告なしに本アプリを閉鎖する場合があります。予めご了承のうえ、自己責任でご使用ください。</p>
  <p class="group-p">また、個人情報をできるだけ避けるために、本アプリではユーザ登録にはメールアドレスの登録が必要ありません。その代わりとしてパスワードの変更やパスワードを忘れた場合のアカウントの復旧はできません。お手数をおかけしますが、アカウント情報の管理には十分注意していただければと思います。</p>
</div>

<h2 class="group-title">アプリの目的</h2>
<div class="group-body">
  <p class="group-p">このアプリは、写真コンテストを気軽に開催することを目的としています。</p>
</div>

<h2 class="group-title">私達について</h2>
<div class="group-body">
  <p class="group-p">本アプリを運営しているのは<%= link_to '埼玉大学写真部', 'https://www.saidaiphoto.com/', class: 'group-link' %>の<%= link_to '学生', 'https://github.com/indysk', class: 'group-link' %>です。</p>
  <p class="group-p">弊部は撮影依頼も受け付けておりますので、ご依頼がございましたら下記のお問い合わせフォームからお問い合わせください。</p>
  <p class="group-p">また、写真部は現在も部員は募集中なので、写真部に興味のある埼玉大学の学生さんは気軽にお問い合わせください。こちらも下記のお問い合わせフォームから。</p>
  <p class="group-p"><%= link_to 'お問合せフォーム', 'https://www.saidaiphoto.com/contact/', class: 'group-botton-center' %></p>
</div>

<h2 class="group-title">開発経緯</h2>
<div class="group-body">
  <p class="group-p">
    制作者が所属している写真部では写真コンテストを毎月開催しています。しかし、そのコンテストの準備や開催にはそこそこの手間と時間を取られていたようです(コンテスト担当者談)。
    この写真コンテストの手間を減らすべく、インターネット上で公開されている様々なアプリを探しましたがなかなか思うようなアプリは見つからなかったようで、「見つからないから作ってくれないか」と先輩が私に依頼をしてきました。
  </p>
  <p class="group-p">
    私は過去に別の件で簡単なアプリを制作したことがあったうえ、就活のポートフォリオになるだろうと思い制作を始めました。夏休みの2ヶ月間が消えてなくなりましたが、当初のイメージと比べて良いアプリが完成したので個人的には満足しています。
  </p>
</div>
