<% if contests.present? %>
  <%= paginate contests, param_name: "page_contests" %>
  <ul class="contests-container">
      <%= render partial: 'contests/contest', collection: contests %>
  </ul>
  <%= paginate contests, param_name: "page_contests" %>
<% else %>
  <p class="nomore">検索結果は以上です</p>
<% end %>
