<%= paginate @contests, :remote => true %>
<ul class="contestlist__body-listcontainer">
<% if @contests.present? %>
  <%= render @contests, labels: Contest.model_labels, select_options: Contest.select_options %>
<% else %>
  <p>コンテストが見つかりません。</p>
<% end %>
</ul>
<%= paginate @contests, :remote => true %>
