<ul class="contests-container">
  <% if contests.present? %>
    <%= render partial: 'contests/contest', collection: contests %>
  <% end %>
</ul>
<% if contests.last_page? || contests.out_of_range? %>
  <p>検索結果は以上です</p>
<% else %>
  <%= link_to_next_page contests, 'もっと見る', remote: true, class: 'js-loading-trigger', id: "loading-container-#{target}", data: {target: target} %>
<% end %>
