<div class="photo_container">
  <div class="img_container">
    <%= link_to path_for_photo(photo) do %>
    <%= image_tag photo.image.url %>
    <% end %>
  </div>
  <% if defined? f %>
    <div class="photo_checkbox_container">
      <%= f.check_box :photo_id, { multiple: true, checked: false }, photo.id, nil %>
    </div>
  <% end %>
</div>
