<% provide(:title, '作品の編集') %>
<% provide(:aside_type, 'flex') %>
<% content_for :aside do %>

  <li class="aside__item-container">
      <div class="aside__item__header-container">
        <h3 class="aside__item__header-title">コンテストの情報</h3>
      </div>
      <div class="aside__item__body-container">
        <div class="photoEdit__aside__contest-container">
          <h4 class="photoEdit__aside__contest-name">コンテスト名：<%= link_to @contest.name, contest_path(@contest) %></h4>
          <p class="photoEdit__aside__contest-p">説明：<%= @contest.description %></p>
        </div>
      </div>
    </li>

<% end %>

<h1 class="photoEdit-title">作品の編集</h1>

<%= render  "form", photo: @photo, url: path_for_photo(@photo) %>
