<% provide(:title, "作品一覧 #{@contest.name}") %>

<div class="photos-container">
  <div class="photos-title_container">
    <h1 class="photos-title">作品一覧</h1>
    <p class="photos-title_sub"><%= @contest.name %></p>
  </div>
  <div class="photos__body-container">
    <% if @photos.present? %>
      <ul class="photos__body-img_container">
        <%= render partial: 'photos/photo', collection: @photos %>
      </ul>
      <h3 class="photos__body-title">その他</h3>
      <div class="photos__body-link_container">
        <%= link_to  "投票結果", contest_votes_path(@contest), class: 'photos__body-link' %>
      </div>

    <% else %>
      <div class="photos__body-no_image">作品が投稿されていません</div>
    <% end %>
  </div>
</div>
