<h3>タイトル：<%= link_to @photo.name, path_for_photo_show(@photo) %></h3>
<h3>投稿者：<%= link_to @photo.user.name, @photo.user %></h3>
<h3>コンテスト名：<%= link_to @photo.contest.name, @photo.contest %></h3>
<%= image_tag @photo.image %>
