@import 'modules';

.admin {
  &-title {
    @include title_h1;
  }

  &__body {
    &-title {
      @include title_h3;
    }

    &-img {
      &_container {
        padding-top: 8px;
      }
    }
  }

  &__image {
    @include square_image(100%, 100%);

    &-container {
      display: flex;
      flex-flow: row;
      width: 100%;
    }

    &-img_square {
      width: 30%;
    }

    &__info {
      @include info_layout;

      &-container {
        width: 70%;
        padding: 0 8px;
      }
    }
  }

}
