@import 'modules';

.contestlist {

  &__header {
    &-container {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      letter-spacing: 1px;
      width: 44%;
      border-bottom: $border_nomal;
    }

    &-newlink {
      @include button_with_icon;
      width: fit-content;
      border-radius: 2rem;
      padding: 8px 16px 8px 8px;
      transition: ease .1s;

      &-value {
        padding-left: 8px;
      }
    }
  }

  &__body {
    &-listcontainer {
      padding: 16px;
    }
  }

  &__item {
    &-container {
      border: 1px #ddd solid;
      border-radius: 4px;
      background-color: white;
      margin-bottom: 16px;
    }

    &__header {
      &-container {
        background-color: #f7f7f7;
        padding: 16px;
        border-bottom: 1px #ddd solid;
        position: relative;
      }

      &-title {
        color: #000;
      }

      &-span {
        font-size: 0.8rem;
        opacity: .8;
      }

      &-badge {
        position: absolute;
        right: 16px;
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        background-color: #6c757d;
        padding: 2px 4px;
        border-radius: 4px;
      }
    }

    &__body {
      &-container {
        transition: ease .2s;
        display: flex;
        padding: 16px 16px 28px 16px;
        position: relative;

        & .arrow_more {
          position: absolute;
          right: 16px;
          bottom: 8px;
        }

        &:hover {
          color: #000;
          text-decoration: none;

          & .arrow_more {
            right: 8px;
            color: #58595B;
          }
        }
      }

      &-main {
        font-size: 0.8rem;
        max-width: fit-content;
        min-width: fit-content;
        border-right: 1px black solid;
        padding-right: 8px;
        line-height: 1.6;
      }

      &-sub {
        padding: 0 8px;
        font-size: 0.8rem;
        min-width: 50%;
        width: fit-content;
        position: relative;


      }
    }
  }
}

.contest {
  &__body {
    &-container {
      padding: 0 16px;
    }

    &__title {
      &-container {
        width: 100%;
        padding: 32px;
        background-color: #eee;
        text-align: center;
        border-radius: 6px;

      }

      &-name {
        font-size: 2rem;
        color: #3e3e3e;
      }

      &-badge {
        width: fit-content;
        margin: 8px auto 0 auto;
        display: block;
        background-color: #444;
        color: white;
        padding: 4px 16px;
        border-radius: 4px;
        transition: ease .2s;

        &:hover {
          color: white;
          box-shadow: #00000033 0px 2px 4px;
          text-decoration: none;
          background-color: #5f5e5e;
        }
      }
    }

    &__info {
      &-title {
        margin-top: 24px;
        font-size: 1.4rem;
        color: #444;
        font-weight: bold;
      }

      &-container {
        padding: 8px 0 8px 8px;
      }
    }
  }
}
