@import 'modules';

.contestlist {

  &__header {
    &-container {
      padding: 0;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      letter-spacing: 1px;
      width: 44%;
      border-bottom: $border_nomal;
    }

    &-newlink {
      @include button_with_icon;
      width: fit-content;
      border-radius: 2rem;
      padding: 8px 16px 8px 8px;
      transition: ease .1s;
      font-size: .8rem;

      &-value {
        padding-left: 8px;
      }

      &-icon {
        transition: ease .2s;
      }

      &:hover &-icon {
        transform: rotate(45deg);
      }
    }
  }

  &__body {
    &-listcontainer {
      padding: 16px 0;

      @include mobile {
        width: 90%;
        margin: auto;
      }
    }
  }

  &__item {
    &-container {
      border: 1px #ddd solid;
      border-radius: 4px;
      background-color: white;
      margin-bottom: 16px;


      @include mobile {
        border: none;
        border-radius: 0;
        padding: 16px 0;
        border-bottom: 1px #ddd solid;
        margin: 0;
      }
    }

    &__header {
      &-container {
        background-color: #f7f7f7;
        padding: 16px;
        border-bottom: 1px #ddd solid;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;

        @include mobile {
          display: grid;
          grid-template-columns: 1fr auto auto;
          grid-template-rows: auto 1fr;
          background-color: transparent;
          border: none;
          padding: 0;
        }
      }

      &-title {
        color: #000;
        word-break: break-all;

        @include mobile {
          grid-row: 2/3;
          grid-column: 1/4;
          padding: 4px 0 0 0;
        }
      }

      &-creater {
        &-link {
          display: inline-flex;
          flex-flow: row;
          align-items: center;
          font-size: 0.8rem;
          opacity: .8;
          padding-left: 8px;

          @include mobile {
            grid-row: 1/2;
            grid-column: 2/3;
            padding: 0 8px 0 0;
            opacity: 1;
            width: fit-content;
          }
        }

        &-img {
          margin-left: 4px;
          width: 1rem;
          height: 1rem;
          border-radius: .5rem;
        }

        &-name {
          padding-left: 2px;
        }

        &-label {
          @include mobile {
            display: none;
          }
        }
      }

      &-badge {
        display: inline;
        position: absolute;
        right: 16px;
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        background-color: #6c757d;
        transition: ease .2s;
        padding: 2px 4px;
        border-radius: 4px;

        &:hover {
          color: white;
          text-decoration: none;
          background-color: #545d64;
        }

        @include mobile {
          position: static;
          grid-row: 1/2;
          grid-column: 3/4;
          height: fit-content;
          margin: auto;
        }
      }
    }

    &__body {
      &-container {
        transition: ease .2s;
        display: flex;
        padding: 16px 16px 28px 16px;
        position: relative;

        @include mobile {
          display: block;
          padding: 0;
        }

        & .arrow_more {
          @include mobile {
            display: none;
          }
        }

        & .arrow_more {
          position: absolute;
          right: 16px;
          bottom: 8px;
        }

        &:hover {
          color: #000;
          text-decoration: none;

          & .arrow_more {
            right: 8px;
            color: #58595B;
          }
        }
      }

      &-main {
        font-size: 0.8rem;
        max-width: fit-content;
        min-width: fit-content;
        border-right: 1px black solid;
        padding-right: 8px;
        line-height: 1.6;

        @include mobile {
          border: none;
          padding: 0;
          font-size: 8px;
          opacity: .8;
        }

        &-p {
          @include mobile {
            display: none;

          }

          &.need {
            @include mobile {
              display: block;
            }
          }
        }
      }

      &-sub {
        padding: 0 8px;
        font-size: 0.8rem;
        word-break: break-all;
        width: fit-content;
        position: relative;

        @include mobile {
          display: none;
        }
      }
    }
  }

  &__aside {
    &-link {
      text-decoration: underline;
      color: #4b88d3;
      padding-right: 8px;
      font-size: 1rem;
    }
  }
}

.contest {
  &__header {
    &-container {
      padding-bottom: 32px;
    }

    &-content {
      width: 100%;
      padding: 32px;
      background-color: #eee;
      text-align: center;
      border-radius: 6px;
    }

    &-title {
      font-size: 2rem;
      color: #3e3e3e;

      @include mobile {
        font-size: 1.4rem;
      }
    }

    &-badge {
      width: fit-content;
      margin: 8px auto 0 auto;
      display: block;
      background-color: #444;
      color: white;
      padding: 4px 16px;
      border-radius: 4px;
      transition: ease .2s;

      &:hover {
        color: white;
        box-shadow: #00000033 0px 2px 4px;
        text-decoration: none;
        background-color: #5f5e5e;
      }
    }

    &-links {
      text-align: right;
      padding: 4px 8px 0 0;
    }

    &-link {
      display: inline;
    }
  }

  &__info {
    &-title {
      @include title_h3;
    }

    &-container {
      padding: 0 0 40px 8px;
    }

    &-group {
      padding: 16px 0;
      border-bottom: 1px #ededed solid;
    }

    &-label {
      font-size: .8rem
    }

    &-p {
      padding: 8px 8px 8px 0
    }

    &-copy {
      &_container {
        min-width: 50%;
        width: fit-content;
        border: 1px #b7b7b7 solid;
        border-radius: 8px;
        position: relative;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        transition: ease .2s;

        &:hover {
          box-shadow: 0px 0px 0px 4px #e4e4e4;
        }

        &:active {
          box-shadow: 0px 0px 0px 4px #afd3ff;
        }
      }
    }
  }
}

.contestCreate {
  &-title {
    @include title_h1;
  }

  &__form {
    &-body {
      width: fit-content;

      & input[type="text"]:focus,
      & input[type="date"]:focus,
      & input[type="time"]:focus,
      & textarea:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #007bff40;
      }

      @include mobile {
        width: auto;
      }
    }

    &-classification {
      @include title_h3;
    }

    &-classificationContainer {
      @include form_content_group;
    }

    &-preview {
      &-imgcontainer {
        margin-top: 8px;
      }

      &-img {
        height: 50vh;
      }
    }

    &-group {
      display: flex;
      flex-flow: column;
      margin-top: 8px;
    }

    &-datetime {
      &-container {
        display: flex;
        flex-flow: row;
        align-items: center;

        @include mobile {
          align-items: start;
          flex-wrap: wrap;
          width: fit-content;
        }
      }

      &-start {
        @include mobile {
          padding-bottom: 8px;
        }
      }

      &-end {
        @include mobile {
          margin-left: auto;
        }
      }

      &-icon {
        padding: 0 8px;
      }
    }

    &-label {
      width: 200px;
      padding-bottom: 2px;
    }

    &-input {
      &-textarea {
        height: 100px;
      }

      &-date {
        width: fit-content;
      }

      &-time {
        width: fit-content;
      }

      &-select {
        display: inline-block;
        width: fit-content;
        text-align: center;
        /* height: calc(1.5em + .75rem + 2px); */
        padding: 8px 16px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        /* color: #495057; */
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 4px;
      }

      &-num {
        width: 4rem;
      }
    }
  }
}

.contestEdit {
  &-title {
    @include title_h1;
  }
}
