ul {
  list-style: none;
}

header {
  nav>ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      padding: 2px;
    }
  }
}

ul.pagination {
  display: flex;

  li {
    padding: 0 2px;
  }
}

div.img_list {
  display: flex;
  flex-wrap: wrap;

  div.img_container {
    height: 100px;
    width: 100px;
    margin: 8px;

    a {
      display: inline-block;
      width: inherit;
      height: inherit;
    }

    img {
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }

}
