:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  // text-decoration: underline;
  // color: rgb(61, 115, 214);
}

header {
  padding: 0 0 16px 0;

  nav>ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      padding: 2px;
    }
  }
}

ul.pagination {
  display: flex;

  li {
    padding: 0 2px;
  }
}

div.img_list {
  display: flex;
  flex-wrap: wrap;

  div.img_container {
    height: 100px;
    width: 100px;
    margin: 8px;

    a {
      display: inline-block;
      width: inherit;
      height: inherit;
    }

    img {
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }
}

div.photo_show_img_container {
  img {
    height: 80vh;
  }
}

div.photo_checkbox_container {
  text-align: right;
  padding: 8px;
}

input,
textarea {
  border: 1px rgb(88, 87, 87) solid;
  padding: 8px;
  border-radius: 4px;
  font-size: small;
}

input[type='submit'] {
  border: none;
  color: #fff;
  background-color: #0d6efd;
  padding: 8px;
  margin: 8px 0;
  border-radius: 3px;
  font-size: small;
}
