@import 'modules';

:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: $color_base;
  color: $color_font;
  word-break: break-word;
}

a {
  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }

  &:not([href]) {
    cursor: pointer;
  }
}

.app {
  &-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 32px 16px;

    @include mobile {
      padding: 32px 8px;
    }
  }

  &__main {
    &-flex_container {
      padding: 0 8px 8px 8px;

      &.aside_flex {
        width: calc(100% - 320px);
        max-width: calc(960px - 320px);

        @include non_aside {
          width: 100%;
        }
      }

      &.aside_fixed {
        width: calc(100% - 320px);
        max-width: calc(960px - 320px);

        @include mobile {
          width: 100%;
        }
      }

      &.aside_none {
        width: 100%;
        max-width: 960px;
      }


    }
  }

  &__aside {
    &-flex {
      width: 320px;
      padding-left: 16px;


      @include non_aside {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }

    &-fixed {
      width: 320px;

      & ul {
        position: fixed;
        width: 320px;
        padding-left: 16px;
      }

      @include mobile {
        display: none;
      }

      &.vote {
        @include mobile {
          display: block;
          position: fixed;
          right: 0;
          bottom: 0;
          width: 100%;
        }

        & .app__aside-container {
          @include mobile {
            position: static;
            width: 100%;
            padding: 0;
          }
        }

        & .aside__item-container {
          @include mobile {
            margin: 0;
          }
        }

        & .aside__item__header-container {
          @include mobile {
            display: none;
          }
        }
      }
    }

    &-none {
      display: none;
    }
  }
}

.form {
  @include form_group;
}

.header {
  &__nav {
    &-title {
      display: block;
      font-size: 1.2rem;
      line-height: 56px;
      padding: 0 16px;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    &-container {
      background-color: $color_main;
      color: $color_base;
    }

    &-ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-li {
      &_container {
        padding-right: 8px;
        display: flex;
      }

      &-item {
        font-size: 0.8rem;
        padding: 0 8px;
        display: block;
        line-height: 56px;

        &:hover {
          color: unset;
        }
      }
    }

    &-accordionmenu {
      &-container {
        position: relative;
      }

      &-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        padding: 16px;
      }

      &-icon {
        font-size: 0.8rem;
        transition: ease .2s;

        .accordionmenu_open & {
          transform: rotate(180deg);
        }
      }

      &-value {
        padding-right: 8px;
        display: inline-flex;
        flex-flow: row;
        align-items: center;
        opacity: .8;
        padding-left: 8px;

        &-img {
          width: 1.2rem;
          height: 1.2rem;
          border-radius: .6rem;
        }

        &-name {
          padding-left: 8px;
        }
      }

      &-window {
        position: absolute;
        width: max-content;
        top: calc(1rem + 24px);
        right: 16px;
        padding: 4px 8px;
        background-color: $color_base;
        border: 1px solid #ddd;
        border-top: none;
        z-index: 1;
      }

      &-contents {
        display: flex;
        flex-flow: column;
        background-color: $color_base;
        color: $color_font;
      }

      &-item {
        font-size: 1rem;
        border-bottom: 1px solid black;
        padding: 8px 8px;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: $color_base;
          color: $color_main;
        }
      }
    }
  }
}

.aside {
  &__item {
    &-container {
      border: 1px #ddd solid;
      border-radius: 4px;
      background-color: white;
      margin-bottom: 16px;
    }

    &__header {
      &-container {
        background-color: #f7f7f7;
        padding: 16px;
        border-bottom: 1px #ddd solid;
        position: relative;
      }

      &-title {
        color: #000;
      }
    }

    &__body {
      &-container {
        padding: 16px;
      }

      @include info_layout;

      &-title {
        font-size: 1rem;
        font-weight: bold;
      }

      &-main {
        font-size: 0.8rem;
        line-height: 1.6;
      }

      &-table {
        width: 100%;

        & thead {
          & tr {
            background-color: #fff !important;
          }
        }

        & tr {
          border-bottom: 1px #f0f0f0 solid;

          &:nth-of-type(odd) {
            background-color: #f9f9f9;
          }
        }

        & th {
          padding: 4px;

          &:first-child {
            width: 36%;
          }
        }

        & td {
          font-size: 85%;
          padding: 0 4px;
        }

        &_time {
          text-align: center;
        }
      }
    }
  }
}

.footer {
  &-container {
    border-top: 1px #ddd solid;
    height: 80px;
    text-align: center;
    line-height: 80px;
  }

  &-copyright {
    font-size: .8rem;
    color: #666;
  }
}

.modal {
  $size_icon: 56px;
  $size_icon_no_height: $size_icon * (5/14);
  $size_icon_no_width: $size_icon / 14;
  $size_icon_yes_height: $size_icon * (3/7);
  $size_icon_yes_width: $size_icon * (3/7);
  $size_icon_yes_border: $size_icon * (5/56);

  &-label {
    cursor: pointer;
  }

  &__window {
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: cubic-bezier(1, 0.05, 0.6, 0.91) 0.2s;
  }

  &__content {
    height: auto;
    width: 60vw;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    opacity: 0;
    transition: cubic-bezier(0.21, 1.01, 0.74, 0.99) 0.2s;


    &-title {
      width: 100%;
      padding: 3vw 0;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $color_base;
      font-size: 1.2rem;
    }

    &-body {
      width: 100%;
      height: auto;
      padding: 6vw;


      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #e6e6e6;
      color: #434343;
      word-break: break-all;
    }
  }

  &__icon {
    $color_yes: #6f96ff;
    $color_no: #ff7575;

    &-list {
      padding: 3vw 0;
      display: flex;
      justify-content: space-around;
      background-color: $color_base;
    }

    &-container {
      width: $size_icon;
      height: $size_icon;

      display: block;
      position: relative;
    }

    &-yes,
    &-no {
      &-link {
        position: absolute;
        top: $size_icon * (-1/2);
        left: $size_icon * (-1/2);
        cursor: pointer;

        &:hover {
          opacity: .6;
        }

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          border-radius: $size_icon * (1/2);
        }

        &::before {
          top: $size_icon * (9/14);
          left: $size_icon * (9/14);
          height: $size_icon * (5/7);
          width: $size_icon * (5/7);
          background-color: $color_no;
        }

        &::after {
          top: $size_icon * (1/2);
          left: $size_icon * (1/2);
          height: $size_icon;
          width: $size_icon;
          border: 3px solid $color_no;
        }
      }
    }

    &-yes {
      &-link {
        &::before {
          background-color: $color_yes;
        }

        &::after {
          border: 3px solid $color_yes;
        }
      }

      &-content {
        display: block;
        position: absolute;
        border-radius: $size_icon_no_height;
        top: $size_icon - $size_icon_yes_height / 2;
        left: $size_icon - $size_icon_yes_width / 2;
        height: $size_icon_yes_height;
        width: $size_icon_yes_width;
        border: $size_icon_yes_border solid $color_base;
      }
    }

    &-no {
      &-content {
        top: $size_icon - $size_icon_no_height / 2;
        left: $size_icon - $size_icon_no_width / 2;
        position: absolute;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: $size_icon * (5/14);
          width: $size_icon / 14;
          background-color: $color_base;
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.modal__photo {
  @include modal_container(calc(100% - 56px), calc(100% - 56px));

  &__content {
    background-color: #515151;
    border-radius: 8px;
  }

  &-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 8px;
    color: #fff;

    @include mobile {
      grid-template-rows: auto 3fr 2fr;
      grid-template-columns: 1fr auto;
    }
  }

  &__body {
    &-container {
      position: relative;
      grid-row: 2/3;
      grid-column: 1/2;

      @include mobile {
        grid-column: 1/3;
      }
    }

    &-img {
      &_container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        padding: 8px;
        border-radius: 8px;
        background-color: #444;
        overflow: hidden;
      }

      &_image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__info {
    &-container {
      padding-left: 8px;
      height: 100%;
      min-height: fit-content;
      grid-row: 2/3;
      grid-column: 2/3;

      @include mobile {
        padding: 8px 0 0 0;
        grid-row: 3/4;
        grid-column: 1/3;
      }
    }

    &-group {
      padding: 16px 16px;
      background-color: #444;
      border-radius: 8px;
      overflow-y: auto;
      color: #c6c6c6;
      line-height: 1.3;
      font-weight: bold;
      font-size: .8rem;

      &.work {
        height: 60%;
        margin-bottom: 8px;

        @include mobile {
          height: 100%;
        }
      }

      &.photo {
        height: calc(40% - 8px);

        @include mobile {
          display: none;
        }
      }

    }

    &-p {
      word-break: break-all;
    }
  }

  &__title {
    &-container {
      grid-row: 1/2;
      grid-column: 1/2;
      padding: 8px;
    }

    &-content {
      @include title_h3;
      color: #f0f0f0;

      &:hover {
        color: #aaa;
      }
    }
  }

  &__links {

    &-container {
      grid-row: 1/2;
      grid-column: 2/3;
      text-align: right;
      display: flex;
      align-items: center;

      & .modal-label {
        &:hover {
          color: unset;
          opacity: .8;
        }
      }
    }

    &-icon {
      &_container {
        border-radius: 50%;
        transition: ease .2s;
        width: 32px;
        text-align: center;
        height: 32px;
        margin-left: auto;
        padding: 8px;
        cursor: pointer;

        &:hover {
          background-color: #5e5e5e;
        }
      }

      &_close {
        line-height: 16px;
        font-size: 1.4rem;
        color: #fff;
      }
    }
  }
}

nav.pagination {
  padding-top: 16px;
  display: flex;
  justify-content: flex-start;

  & .first,
  & .last {
    display: none;
  }

  & span {
    padding-right: 8px;

    &.current {
      width: 2.4rem;
      height: 2.4rem;
      padding: .5rem .75rem;
      margin-right: 8px;
      border-radius: 50%;

      color: #eee;
      line-height: 1.25;
      background-color: #6c757d;
      text-align: center;
      text-decoration: none;
    }

    &.next,
    &.prev {
      & a {
        width: auto;
        border: none;
        border-radius: 0;

        &:hover {
          color: #222;
          background-color: transparent;
        }
      }
    }

    & a {
      width: 2.4rem;
      height: 2.4rem;
      padding: .5rem .75rem;
      border: 1px solid #dee2e6;
      border-radius: 50%;

      display: block;
      text-align: center;
      color: #777;
      background-color: #fff;
      line-height: 1.25;

      &:hover {
        background-color: #6c757d;
        color: #eee;
        text-decoration: none;
      }
    }
  }
}

.tab {
  &-links {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    background-color: #f4f4f4;

    & li a {
      display: block;
      background: transparent;
      margin-right: 4px;
      padding: 10px 20px;
      text-decoration: none;
      color: #000;
      border-radius: 4px;

      &:hover {
        background-color: #ddd;
      }
    }

    & li.active a {
      background: #fff;
      box-shadow: #ccc 0 0 3px 1px;
      cursor: default;
      font-weight: bold;
    }
  }

  & {
    display: none;
    opacity: 0;
    background: #fff;
    padding: 16px 16px;

    &.is-active {
      display: block;
      animation-name: displayAnime;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contests {
  &__item {
    &-container {
      border: 1px #ddd solid;
      border-radius: 4px;
      background-color: white;
      margin-bottom: 16px;


      @include mobile {
        border: none;
        border-radius: 0;
        padding: 32px 0;
        border-bottom: 1px #ddd solid;
        margin: 0;
      }
    }

    &__header {
      &-container {
        background-color: #f7f7f7;
        padding: 16px;
        border-bottom: 1px #ddd solid;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;

        @include mobile {
          display: grid;
          grid-template-columns: 1fr auto auto;
          grid-template-rows: auto 1fr;
          background-color: transparent;
          border: none;
          padding: 0;
        }
      }

      &-title {
        color: #000;
        word-break: break-all;

        @include mobile {
          grid-row: 2/3;
          grid-column: 1/4;
          padding: 16px 0 0 0;
        }
      }

      &-creater {
        &-link {
          display: inline-flex;
          flex-flow: row;
          align-items: center;
          font-size: 0.8rem;
          opacity: .8;
          padding-left: 8px;

          @include mobile {
            grid-row: 1/2;
            grid-column: 2/3;
            padding: 0 8px 0 0;
            opacity: 1;
            width: fit-content;
          }
        }

        &-img {
          margin-left: 4px;
          width: 1rem;
          height: 1rem;
          border-radius: .5rem;
        }

        &-name {
          padding-left: 2px;
        }

        &-label {
          @include mobile {
            display: none;
          }
        }
      }

      &-badge {
        display: inline;
        position: absolute;
        right: 16px;
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        background-color: #6c757d;
        transition: ease .2s;
        padding: 2px 4px;
        border-radius: 4px;

        &:hover {
          color: white;
          text-decoration: none;
          background-color: #545d64;
        }

        @include mobile {
          position: static;
          grid-row: 1/2;
          grid-column: 3/4;
          height: fit-content;
          margin: auto;
        }
      }
    }

    &__body {
      &-container {
        transition: ease .2s;
        display: flex;
        padding: 16px 16px 28px 16px;
        position: relative;

        @include mobile {
          display: block;
          padding: 0;
        }

        & .arrow_more {
          @include mobile {
            display: none;
          }
        }

        & .arrow_more {
          position: absolute;
          right: 16px;
          bottom: 8px;
        }

        &:hover {
          color: #000;
          text-decoration: none;

          & .arrow_more {
            right: 8px;
            color: #58595B;
          }
        }
      }

      &-main {
        font-size: 0.8rem;
        max-width: fit-content;
        min-width: fit-content;
        border-right: 1px black solid;
        padding-right: 8px;
        line-height: 1.6;

        @include mobile {
          border: none;
          padding: 0;
          font-size: 14px;
          opacity: .8;
        }

        &-p {
          @include mobile {
            display: none;

          }

          &.need {
            @include mobile {
              display: block;
            }
          }
        }
      }

      &-sub {
        padding: 0 8px;
        font-size: 0.8rem;
        word-break: break-all;
        width: fit-content;
        position: relative;

        @include mobile {
          display: none;
        }
      }
    }
  }
}

.menu {
  position: absolute;
  display: none;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  transform: translateY(calc(100% + 8px));
  background-color: #fff;
  opacity: .9;
  width: unset;

  &.active {
    display: block;
  }

  & ul li {
    padding-bottom: 4px;
  }

  & ul li a {
    border: 1px #444 solid;
    color: #444;
    font-size: 1rem;
    display: block;
    padding: 8px 16px;

    &:hover {
      text-decoration: none;
    }
  }

}

.js-menu {
  position: relative;
  cursor: pointer;
}

.notice {
  & h4 {
    padding: 16px;
    border-left: 4px solid #fd6c6c;
    font-size: 1.2rem;
    font-weight: bold;
  }

  & p {
    padding-top: 16px;
    line-height: 1.6rem;
  }
}


.loading {
  &-container {
    padding-bottom: 16px;
    text-align: center;
  }

  &-icon {
    color: #444;
    opacity: .8;
    font-size: 10px;
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;

    &,
    &::before,
    &::after {
      border-radius: 50%;
      width: 1.2em;
      height: 1.2em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 1.8s infinite ease-in-out;
      animation: load7 1.8s infinite ease-in-out;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
    }

    &::before {
      left: -2.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.16s;

    }

    &::after {
      left: 2.5em;
      animation-delay: 0.16s;
    }
  }
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

#flash {
  &_container {
    position: fixed;
    top: -40px;
    left: 16px;
    right: 16px;
    transition: ease .4s;
    opacity: 0;
    display: none;
    max-width: 960px;
    margin: auto;
  }

  &_close {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;

    & i {
      color: black;
      font-size: 1.2rem;
      opacity: .2;
      padding: 10px;
    }
  }

  &_message {
    background: #eee;
    border-radius: 8px;
    padding: 16px 56px;
    width: 100%;
    text-align: center;

    &.success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }

    &.danger {

      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
  }
}

.accordion {
  &-container {
    padding-bottom: 24px;
  }

  &__title {
    &-container {
      cursor: pointer;
    }

    &-icon {
      font-size: 1.4rem;

      &_rotate {
        transform: rotate(180deg);
      }
    }

    &-content {
      @include title_h3;
      font-size: 1.2rem;
      display: inline;
      padding-left: 4px;
    }
  }

  &__body {
    &-container {
      display: none;
      padding-left: 8px;
    }

    @include info_layout;
  }
}

input,
textarea {
  border: 1px rgb(88, 87, 87) solid;
  padding: 8px;
  border-radius: 4px;
  font-size: small;
  height: auto;
}

select {
  width: auto;
  padding: 4px;
  border: 1px solid #999;
  background: #eee;
  -webkit-appearance: auto;
  appearance: auto;
  cursor: pointer;
}

input {
  &[type='submit'] {
    border: none;
    background-color: #0d6efd;
    color: $color_base;
    padding: 8px;
    margin: 8px 0;
    border-radius: 3px;
    font-size: small;
  }

  &[type='date'] {
    cursor: pointer;
  }
}

.arrow_more {
  font-size: .8rem;
  transition: all 0.3s ease;
  border-bottom: 1px solid #000;
  position: relative;
  width: fit-content;
  padding: 0 24px 2px 0;
  cursor: pointer;

  &::after {
    transition: all 0.3s ease;
    position: absolute;
    right: 4px;
    bottom: -1px;
    content: '';
    height: 8px;
    border-right: 1px solid #000;
    transform: skew(45deg);
  }
}
