@import 'modules';

:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: $color_base;
  color: $color_font;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}


.app {
  &-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 32px 16px;

    @include mobile {
      padding: 32px 8px;
    }
  }

  &__main {
    &-flex_container {
      padding: 0 8px 8px 8px;

      &.aside_flex {
        width: calc(100% - 320px);
        max-width: calc(960px - 320px);

        @include non_aside {
          width: 100%;
        }
      }

      &.aside_fixed {
        width: calc(100% - 320px);
        max-width: calc(960px - 320px);

        @include mobile {
          width: 100%;
        }
      }

      &.aside_none {
        width: 100%;
        max-width: 960px;
      }


    }
  }

  &__aside {
    &-flex {
      width: 320px;
      padding-left: 16px;


      @include non_aside {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }

    &-fixed {
      width: 320px;

      & ul {
        position: fixed;
        width: 320px;
        padding-left: 16px;
      }

      @include mobile {
        display: none;
      }
    }

    &-none {
      display: none;
    }


  }
}


.header {
  &__nav {
    &-title {
      display: block;
      font-size: 1.2rem;
      line-height: 56px;
      padding: 0 16px;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    &-container {
      background-color: $color_main;
      color: $color_base;
    }

    &-ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-li {
      &_container {
        padding-right: 8px;
        display: flex;
      }

      &-item {
        font-size: 0.8rem;
        padding: 0 8px;
        display: block;
        line-height: 56px;
      }
    }

    &-accordionmenu {
      &-container {
        position: relative;
      }

      &-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        padding: 16px;
      }

      &-icon {
        font-size: 0.8rem;
        transition: ease .2s;

        .accordionmenu_open & {
          transform: rotate(180deg);
        }
      }

      &-value {
        padding-right: 8px;
        display: inline-flex;
        flex-flow: row;
        align-items: center;
        opacity: .8;
        padding-left: 8px;

        &-img {
          width: 1.2rem;
          height: 1.2rem;
          border-radius: .6rem;
        }

        &-name {
          padding-left: 8px;
        }
      }

      &-window {
        position: absolute;
        width: max-content;
        top: calc(1rem + 24px);
        right: 16px;
        padding: 4px 8px;
        background-color: $color_base;
        border: 1px solid #ddd;
        border-top: none;
        z-index: 1;
      }

      &-contents {
        display: flex;
        flex-flow: column;
        background-color: $color_base;
        color: $color_font;
      }

      &-item {
        font-size: 0.8rem;
        border-bottom: 1px solid black;
        padding: 4px 8px;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: $color_base;
          color: $color_main;
        }
      }
    }
  }
}

.aside {
  &__item {
    &-container {
      border: 1px #ddd solid;
      border-radius: 4px;
      background-color: white;
      margin-bottom: 16px;
    }

    &__header {
      &-container {
        background-color: #f7f7f7;
        padding: 16px;
        border-bottom: 1px #ddd solid;
        position: relative;
      }

      &-title {
        color: #000;
      }
    }

    &__body {
      &-container {
        padding: 16px;
      }

      &-title {
        font-size: 1rem;
        font-weight: bold;
      }

      &-main {
        font-size: 0.8rem;
        line-height: 1.6;
      }

      &-table {
        & thead {
          & tr {
            background-color: #fff !important;
          }
        }

        & tr {
          border-bottom: 1px #f0f0f0 solid;

          &:nth-of-type(odd) {
            background-color: #f9f9f9;
          }
        }

        & th {
          padding: 4px;

          &:first-child {
            width: 36%;
          }
        }

        & td {
          font-size: 85%;
          padding: 0 4px;
        }

        &_date {}

        &_time {
          text-align: center;
        }
      }
    }
  }
}

.footer {
  &-container {
    border-top: 1px #ddd solid;
    height: 80px;
    text-align: center;
    line-height: 80px;
  }

  &-copyright {
    font-size: .8rem;
    color: #666;
  }
}

.modal {
  $size_icon: 56px;
  $size_icon_no_height: $size_icon * (5/14);
  $size_icon_no_width: $size_icon / 14;
  $size_icon_yes_height: $size_icon * (3/7);
  $size_icon_yes_width: $size_icon * (3/7);
  $size_icon_yes_border: $size_icon * (5/56);

  &__window {
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  &__content {
    height: auto;
    width: 60vw;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: $color_main;

    &-title {
      width: 100%;
      padding: 3vw 0;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $color_base;
      font-size: 1.2rem;
    }

    &-body {
      width: 100%;
      height: auto;
      padding: 6vw;


      display: flex;
      justify-content: center;
      align-items: center;

      color: $color_base;
      word-break: break-all;
    }
  }

  &__icon {

    &-list {
      padding: 3vw 0;
      display: flex;
      justify-content: space-around;
      background-color: $color_base;
    }

    &-container {
      width: $size_icon;
      height: $size_icon;

      display: block;
      position: relative;
    }

    &-yes,
    &-no {
      &-link {
        position: absolute;
        top: $size_icon * (-1/2);
        left: $size_icon * (-1/2);

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          border-radius: $size_icon * (1/2);
        }

        &::before {
          top: $size_icon * (9/14);
          left: $size_icon * (9/14);
          height: $size_icon * (5/7);
          width: $size_icon * (5/7);
          background-color: $color_main;
        }

        &::after {
          top: $size_icon * (1/2);
          left: $size_icon * (1/2);
          height: $size_icon;
          width: $size_icon;
          border: 3px solid $color_main;
        }
      }
    }

    &-yes {
      &-link {
        &::before {
          background-color: $color_main;
        }

        &::after {
          border: 3px solid $color_main;
        }
      }

      &-content {
        display: block;
        position: absolute;
        border-radius: $size_icon_no_height;
        top: $size_icon - $size_icon_yes_height / 2;
        left: $size_icon - $size_icon_yes_width / 2;
        height: $size_icon_yes_height;
        width: $size_icon_yes_width;
        border: $size_icon_yes_border solid $color_base;
      }
    }

    &-no {
      &-content {
        top: $size_icon - $size_icon_no_height / 2;
        left: $size_icon - $size_icon_no_width / 2;
        position: absolute;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: $size_icon * (5/14);
          width: $size_icon / 14;
          background-color: $color_base;
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
}

div.pagination {
  padding: 8px 0;

  & ul.pagination {
    display: flex;
    justify-content: center;

    & li {
      &:first-child a {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }

      &:last-child a {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }

      &.active a {
        color: #eee;
        text-decoration: none;
        background-color: #444;
      }
    }

    & a {
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #777;
      background-color: #fff;
      border: 1px solid #dee2e6;

      &:hover {
        color: #eee;
        text-decoration: none;
        background-color: #444;
      }
    }
  }
}

#flash_message {
  background: #eee;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  text-align: center;

  &.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &.danger {

    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

.modal__photo {
  &__window {
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  &-flex {
    display: flex;
  }

  &__body {
    @include square_image(50%, 100%)
  }

  &__info {
    &-container {
      background-color: #fff;
    }
  }
}

input,
textarea {
  border: 1px rgb(88, 87, 87) solid;
  padding: 8px;
  border-radius: 4px;
  font-size: small;
  height: auto;
}

select {
  width: auto;
  padding: 4px;
  border: 1px solid #999;
  background: #eee;
  -webkit-appearance: auto;
  appearance: auto;
}

input[type='submit'] {
  border: none;
  background-color: #0d6efd;
  color: $color_base;
  padding: 8px;
  margin: 8px 0;
  border-radius: 3px;
  font-size: small;
}

.arrow_more:hover {
  border-bottom: 1px solid #41A849;
  color: #41A849;
}

.arrow_more:hover::after {
  border-right: 1px solid #41A849;
  color: #41A849;
}

.arrow_more {
  font-size: .8rem;
  transition: all 0.3s ease;
  border-bottom: 1px solid #000;
  position: relative;
  width: fit-content;
  padding: 0 24px 2px 0;
  cursor: pointer
}

.arrow_more::after {
  transition: all 0.3s ease;
  position: absolute;
  right: 4px;
  bottom: -1px;
  content: '';
  height: 8px;
  border-right: 1px solid #000;
  transform: skew(45deg);
}
