@import 'modules';

.user {
  &-container {}

  &-title {
    @include title_h1;
  }

  &__profile {
    &-container {
      padding-bottom: 16px
    }

    &-title {
      @include title_h3;
    }

    &-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50px;
    }

    &-body {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 24px 8px;
    }

    &-content {
      padding: 16px 0 0 8px;
      height: 100px;
    }

    &-name_container {
      display: flex;
      align-items: center;
    }

    &-name {
      font-size: 1.4rem;
      margin-bottom: 8px;
    }

    &-name_link {
      font-size: .8rem;
      padding-left: 8px;
      text-decoration: underline;
    }

    &-howmany {
      font-size: .8rem;
      opacity: .8;
    }

  }

  &__photos {
    &-title {
      @include title_h3;
      padding-bottom: 16px;
    }
  }

  &__photoslist {
    &-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 16px;

      & .photolist__item-container {
        width: calc(100% / 3);

        @include mobile {
          width: calc(100% / 2);
        }
      }

      & .photolist__item-img_square::before {
        padding-top: 100%;

      }
    }
  }
}

.userEdit {
  &-container {
    padding-bottom: 32px;
  }

  &-title {
    margin-top: 24px;
    font-size: 1.4rem;
    color: #444;
    font-weight: bold;
  }

  &-body {
    width: 80%;
    margin: auto;
  }

  &__form {
    &-container {
      display: flex;
      flex-flow: row;
      padding: 16px;
      width: fit-content;
    }

    &-preview {
      &-group {
        padding: 8px;
      }

      &_imgcontainer {
        position: relative;
      }

      &_img {
        height: 160px;
        width: 160px;
        object-fit: cover;
        border-radius: 80px;
      }

      &_label {
        position: absolute;
        top: 0;
        left: 0;
        height: 160px;
        width: 160px;
        text-align: center;
        line-height: 160px;
        border-radius: 80px;
        background-color: #444;
        opacity: .6;
        color: white;
        font-size: 1.8rem;
        transition: ease .2s;

        &:hover {
          opacity: .7;
        }
      }

      &_input {
        display: none;
      }
    }

    &-info {
      &_container {
        padding: 16px 0 0 24px;
      }

      &_group {
        padding-bottom: 8px;

        &_submit {
          text-align: right;
        }
      }
    }

  }

  &__else {
    &-container {
      padding: 16px 0 0 8px;

      & .js-modal-open {
        text-decoration: underline;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}

.userCreate {
  &__form {
    &-title {
      margin-top: 24px;
      font-size: 1.4rem;
      color: #444;
      font-weight: bold;
    }

    &-container {
      width: 60%;
      padding: 16px 16px 40px 16px;
      margin: auto;

      & input {
        width: fit-content;
      }

      & input[type="text"]:focus,
      & textarea:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #007bff40;
      }
    }

    &-body {
      padding-left: 8px;
    }

    &-group {
      display: flex;
      flex-flow: column;
      margin-top: 8px;

      &_submit {
        padding-top: 16px;
      }
    }

  }
}

.session {
  &-title {
    @include title_h1;
  }

  &__form {
    &-container {
      & form {
        padding-left: 16px;
      }

      & input {
        width: fit-content;
      }
    }
  }

  &__remember_me {
    &-container {
      padding: 16px 0;
    }
  }
}
