<% provide(:title, "投票結果 #{@contest.name}") %>
<div class="votes-container">


  <div class="votes__results-container">
    <div class="votes-title_container">
      <h1 class="votes-title">投票結果</h1>
      <h2 class="votes-title_sub"><%= link_to @contest.name, @contest %></h2>
    </div>

    <% record = @result[:rank1] %>
    <% type = record.length == 1 ? 'one' : record.length.even? ? 'even' : 'odd' %>
    <ul class="votes__results__rank-group rank1 <%= type %>">
      <% record.each do |photo| %>
        <%= render  "photo", photo: photo %>
      <% end %>
    </ul>

    <ul class="votes__results__rank-group">
      <% @result[:else].each do |photo| %>
        <%= render  "photo", photo: photo %>
      <% end %>
    </ul>
  </div>
</div>
