<div class="img_list">
  <% @result.each do |record| %>
    <div class="result_container">
      <div class="img_container">
        <%= link_to path_for_photo(record[:photo]) do %>
          <%= image_tag record[:photo].image %>
        <% end %>
      </div>
      <div>投稿者：<%= record[:user].name %></div>
      <div>得票数：<%= record[:num] %></div>
    </div>
  <% end %>
</div>
