<footer class="footer-container">

  <div class="footer-body">
    <div class="footer-center">
      <p class="footer-copyright">&copy; 2021 SaidaiPhoto</p>
      <%= link_to 'このアプリについて', aboutus_path, class: 'footer-link' %>
    </div>
  </div>
</footer>
